# CHAIN

node_modules/
artifacts/
cache/
.yarn/
yarn-error.log
.env
.DS_Store
package-lock.json

# YARN

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarn/cache/
.yarn/releases/